@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    @apply bg-gray-900;
  }
  
  body {
    @apply bg-gray-900 text-gray-900;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
